.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 5px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}

.button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
}
.button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.button--social-login .icon:before {
  display: inline-block;
  width: 40px;
}
.button--social-login .icon:after {
  content: "";
}

.button--google {
  background-color: white;
  border: 1px solid white;
  color: black;
}
.button--google .icon {
  border-right: 1px solid #3b5988;
}
.button--google .icon:after {
  border-right: 1px solid #6b8bbe;
}
.button--google:hover {
  background-color: white;
}

.button--facebook {
  background-color: #4b70ab;
  border: 1px solid #3b5988;
}
.button--facebook .icon {
  border-right: 1px solid #3b5988;
}
.button--facebook .icon:after {
  border-right: 1px solid #6b8bbe;
}
.button--facebook:hover {
  background-color: #436499;
}

.button--twitter {
  background-color: #3b94d9;
  border: 1px solid #257abc;
}
.button--twitter .icon {
  border-right: 1px solid #257abc;
}
.button--twitter .icon:after {
  border-right: 1px solid #66abe1;
}
.button--twitter:hover {
  background-color: #2988d2;
}

.button--spotify {
  background-color: #2ebd59;
  border: 1px solid #249446;
}
.button--spotify .icon {
  border-right: 1px solid #249446;
}
.button--spotify .icon:after {
  border-right: 1px solid #4bd374;
}
.button--spotify:hover {
  background-color: #29a84f;
}
